.root {
    -fx-background-color: linear-gradient(to top, #9342ff, #0984e3);
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.pokeball-icon {
    -fx-font-size: 48px;
    -fx-text-fill: #ff6b6b;
}