.root {
    -fx-background-color: linear-gradient(to top, #9342ff, #0984e3);
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.pokeball-icon {
    -fx-font-size: 48px;
    -fx-text-fill: #ff6b6b;
    -fx-effect: dropshadow(gaussian, rgba(78, 77, 59, 0.267), 3, 0, 3, 1);
}

.title {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #0a0808;
    -fx-effect: dropshadow(gaussian, rgba(233, 10, 10, 0.4), 3, 0, 2, 1);
}

.header {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 20;
}

.search-field{
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-color: #ddd;
    -fx-border-radius: 25;
    -fx-border-width: 2;
    -fx-padding: 12 20;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #9c7b6c;
}

.search-field:focused {
    -fx-border-color: #74b9ff;
    -fx-border-width: 3;
}

.search-button {
    -fx-background-color: #00b894;
    -fx-text-fill: white;
    -fx-background-radius: 25;
    -fx-padding: 12 24;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}